<div class="page-header">
  Posts made by {{comments[0].user.username}}
</div>

<h1>
  Submitted by user:
</h1>
<div ng-repeat="post in posts">
  <a href="#/posts/{{post.id}}">
    {{post.title}}
  </a>
</div>

<h1>
  Comments by user:
</h1>
<div ng-repeat="comment in comments">
  <div class="home-post" style="display: block;">

    <a ng-href="#/posts/{{comment.post_id}}">
      <h3>{{comment.post.title}}</h3>
    </a>
    <p>
      {{comment.body}}
    </p>
    <span class="details">
      {{comment.upvotes}} upvotes - on {{comment.user.created_at | date}}
    </span>
  </div>
</div>
